html { font-family: sans-serif; background: #eee; padding: 1rem; color: #cc99ff }
h1 { text-shadow: 2px 2px #5c0099ff; margin: 1rem; font-size: 2em; }
h3 { color: #5c0099ff; text-shadow: 1px 1px #cc99ff; }
body { max-width: 90vw; margin: 0 auto; }
nav { background: lightgray; display: flex; align-items: center; padding: 0 0.5rem; }
a { text-decoration: none; }
input { margin-bottom: 15px; }
input[type="submit"] { align-self: start; color: #5c0099ff; font-size: 2em; }
.content { margin: 5vh 2vw; }
.content form { display: flex; flex-direction: column; }
.content-header { align: center; }
.nav-tab {
    padding: .5rem 1rem; margin: 1rem; background: #5c0099ff; color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.display-tile {
    background: #fff; padding: 3vw; width: 20vw;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.subtext { color: #5c0099ff; font-size: .75em }
.darker-text { color: #5c0099ff }
