{% macro article_display(article) %}
    <div class="article display-tile">
        <h1>{{ article['short_desc'] }}</h1>
        <div class="subtext">{{ article['article_type'] }} by {{ article['brand_name'] }}</div>
        <div class="subtext">worn last on {{ article['last_wear'].strftime('%Y-%m-%d') }}</div>
    </div>
{% endmacro %}

{% macro filter_bar() %}
{% endmacro %}

{% macro combobox(title, options) %}
    <div class="combobox">
        <button id="dropdown_button" onclick="showDropdown(this)">{{ title }}</button>
        <div class="dropdown-content">
            <input type="text" placeholder="Filter.." id="myInput" onkeyup="filterFunction()">
            {% for option in options %}
                <div class="dropdown-option">{{ option }}</div>
            {% endfor %}
        </div>
    </div>
{% endmacro %}